{% extends 'user_profile/profile_base.html' %}

{% block header %}
    <h1 class="header2">Профиль</h1>
{% endblock %}

{% block content %}
{% for cat, message in get_flashed_messages(True) %}
<p class="{{cat}} auth_cat">{{ message }}</p>
{% endfor %}

<div class="profile">
    <p>Ваше имя: {{user.name}}</p>
    <p>Ваш Email: {{user.email}}</p>
    <p>Ваш номер: {{user.phone_number}}</p>
    <p>Ваш адрес: {{user.address}}</p>
    <a href="{{ url_for('user_profile.edit') }}">Редактировать</a>
</div>
{% endblock %}